body{
	display: flex;

}

div.c1{
	width: 1025px;
	height: 700px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: red;
}

div.c2{
	border: 1px solid black;
	margin: 2px;
	background-color: yellow;
	background-image: url("../assets/headerbg.png");
}

div.c3{
	display: flex;
	/*border: 1px solid black;*/
	margin: 2px;
	/*background-color: green;*/
}

div.c3_1{
	width: 115px;
	height: 115px;
	order: 1;
	opacity: 3;
	/*border: 1px solid black;*/
	position: absolute;
	margin: 5px 2px 2px 2px;
	/*background-color: blue;*/
}

div.c3_2{
	flex-grow: 1;
	order: 2;
	/*border: 1px solid black;*/
	/*background-color: pink;*/
	margin: 2px 2px 2px 120px;
}

div.c6{
	/*border: 1px solid black;*/
}

div.c7{
	
}

div.c10{
	
}

div.c11 img{
	height: ;
	width: auto;
}

div.c12{
	display: flex;
	background-color: #0072bc;
	border: 1px solid black;
	margin: 2px;
}

div.our-school{
	border: 1px solid black;
	display: none;
}

div.admission{
	border: 1px solid black;
	display: none;
}

div.facilities{
	border: 1px solid black;
	display: none;
}

div.contact-us{
	border: 1px solid black;
	display: none;
}

h3{
	margin-top: 30px;
	margin-bottom: 0px;
	color: #e0b36e;
	font-family: Arial;
}

h4{
	margin-top: 0px;
	color: #ffffff;
	font-family: Monotype Corsiva ;
}

img{
	width: 100%;
	height: 100%;
}

ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 100px;
    margin: 0px;
    background-color: #448ccb;
}

li{
	margin: 3px;
	border-right: 1px solid white;
}

li a:link{
	text-align: center;
	padding: 14px 16px;
	color: #ffffff;
	text-decoration: none;
}

div.container-fluid-modified ul.nav li a:hover{
	color: #f5c266;
}

div.container-fluid-modified ul.nav li a{
	color: #ffffff;
}

div.container-fluid-modified ul.nav li{
	/*border: 1px solid black;*/
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
